* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* background: #F0F0D8; */
  /* font-family: "神韵哈天随性体"; */
}
/* @font-face {
    font-family: '神韵哈天随性体';
    font-weight: normal;
    font-style: normal;
    src:url('../fonts/神韵哈天随性体.ttf') format('truetype');
} */
